.present {
  width: 150px;
  height: 100px;
  margin: 15px;
  background-color: #3b8a0e;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.present:hover {
  animation: swing 0.5s ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.present.open {
  animation: none;
}

.present-button {
  text-align: center;
  padding: 5px;
  width: 50px;
  height: 50px;
  line-height: 10px;
  border-radius: 50%;
  border: 4px solid transparent;
  background-color: rgb(235, 186, 62);
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 33%;
  /* transform: translate(-50%, -50%); */
  z-index: 3;
  transition: border 0.3s ease;
  transition: top 0.5s ease-in-out;
  /* transition: transform 0.5s ease-in-out; */
  cursor: inherit;
}

.present-button:hover {
  border: 5px solid rgb(247, 218, 145);
}

.present.open > .present-button {
  top: -30%;
  transform: scale(0.6);
}

.stripeY {
  height: 100px;
  width: 30px;
  background-color: #b50523;
  position: absolute;
  top: 0%;
  left: 40%;
  z-index: 1;
  transition: height 0.5s ease-in-out;
}

.stripeX {
  height: 30px;
  width: 150px;
  background-color: #b50523;
  position: absolute;
  top: 35%;
  left: 0%;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}

.present.open > .stripeY {
  height: 0px;
}

.present.open > .stripeX {
  width: 0px;
}

.ribbonR,
.ribbonL {
  height: 30px;
  width: 40px;
  background-color: #b50523;
  position: absolute;
  top: 0%;
  transform: translate(0%, -100%);
  z-index: 1;
  transition: height 0.5s ease-in-out;
}

.ribbonR {
  border-radius: 30px 10px 30px 0px;
  left: 50%;
}

.ribbonL {
  border-radius: 10px 30px 0px 30px;
  right: 50%;
}

.present.open > .ribbonR,
.present.open > .ribbonL {
  height: 0px;
}

.sorpresa {
  position: absolute;
  left: 0%;
  opacity: 0%;
  transition: opacity 1s ease;
  border-radius: 5px;
}

.present.open > .sorpresa {
  z-index: 1;
  opacity: 100%;
}
